.BackGroundMusic{
    height: 2rem;
    width: 2rem;
}
.BackGroundMusic img{
    height: 2rem;
    width: 2rem;
}
.BackGroundMusic:hover img{
    cursor:pointer;
    transition: 0.25s;
    height: 2.1rem;
    width: 2.1rem;
}


