.HomeContent .Intro{
    position: relative;
    height: 700px;
    flex-direction:column;
}
.HomeContent .Intro h1{
    font-size: 4rem;
}
.Intro{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Projects{
    position: relative;
    display: flex;
    justify-content: left;
    flex-direction:column;
}
.Projects h2{
    color: white;
    font-size: 20px;
}
.Row2{
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.Things{
    position:relative;
    display: flex;
    align-items:center;
    justify-content:center;
}