.NavBar .AllText{
    position: relative;
    display: flex;
    position: 50px;
    align-items: center;
    justify-content: center;
}
.NavBar{
    position: relative;
    margin: 0;
    height: 50px;
    width: auto;
}
.NavBar h1{
    position: relative;
    color: white;
    margin: 0;
}
.NavBar .AllText .Text{
    padding: 0 13px;
}
a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.Text h1{
    font-size: 2rem;
}
.MuteUnMute{
    position: relative;
}
.NavBar .Volume{
    position:absolute;
    right: 1rem;
}
.NavBar h1:hover{
    transition: 0.25s;
    color: purple;
    font-size: 2.1rem;
}